img {
    max-width: 100%;
}

.product-footer {
    display: flex;
    justify-content: space-between;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
}

.product-name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.mouse-over:hover {
    cursor: pointer;
}

:host ::ng-deep {
    .p-card .p-card-footer {
        padding: 0 0 0 0;
    }
}
