<p-card>
    <ng-template pTemplate="header">
    </ng-template>
        <img [src]="product.image" alt="">
    <ng-template pTemplate="footer">
        <div class="product-name">{{ product.title }}</div>
        <div class="product-footer">
            <div class="product-price">
                {{ product.price | currency }}
            </div>
            <button
                pButton
                pRipple
                type="button"
                icon="fa fa-cart-plus fa-lg"
                class="p-button-rounded p-button-text"
                (click)="addCart()">
            </button>
        </div>
    </ng-template>
</p-card>